body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

.org_details {
	border: 1px solid black;
	padding: 5px;
}


.org_title {
	font-size: 30px;
}

.section {
	border: 1px dashed gray;
	padding: 5px;
	margin: 5px;
}

.title {
	font-size: 20px;
}

.jobclass {
	font-style: bold;
	margin-left: 10px;
}

.error {
	margin-left: 10px;	
	color: red;	
}