extends layout

block content
  h1(style="text-align:center;")= title
  div(style="margin:50px;text-align:center;")
    a(href='/auth/google',style="border-radius:3px;padding:10px;border:1px solid #3792d9; background-color:#024cb6;text-decoration:none;color:white;")
      img(src="/images/google.jpg", style="width:40px;top:15px;left:-11px;position:relative;")
      |Login With Google